<div class="sub_top_menu">
    <h4 class="page_title">@@title</h4>
    <h6 class="page_sub_title">@@sub_title</h6>
    <!-- menu_item 해당 페이지 active 클래스 추가 -->
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="std_db.html">스탠다드 더블</a></li>
        <li class="menu_item"><a href="std_tw.html">스탠다드 트윈</a></li>
        <li class="menu_item"><a href="dx_oc_db.html">디럭스 오션 더블</a></li>
        <li class="menu_item"><a href="dx_oc_tw.html">디럭스 오션 트윈</a></li>
        <li class="menu_item"><a href="dx_oc_ondol.html">디럭스 오션 온돌</a></li>
        <li class="menu_item"><a href="pr_oc_db.html">프리미어 오션 더블</a></li>
    </ul>
    <ul class="menu_wrap container">
        <li class="menu_item"><a href="pr_oc_tw.html">프리미어 오션 트위</a></li>
        <li class="menu_item"><a href="pr_oc_famtw.html">프리미어 오션 패밀리 트윈</a></li>
        <li class="menu_item"><a href="suite.html">스위트</a></li>
    </ul>
</div>