<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>에어스카이호텔</title>
    <meta name="title" content="에어스카이호텔">
    <meta name="description" content="">
    <meta name="keywords" content="에어스카이호텔">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="에어스카이호텔">
    <meta property="og:description" content="">
    <meta property="og:image" content="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/sample/sns_thumb.jpg">

    <!-- <link rel="stylesheet" type="text/css" href="/static/svc/common/font/nanumgothic/nanumgothic.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/svc/common/css/init.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/css/style.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/lib/icomoon/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/common/javascript/lib/datepicker/css/theme01.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/lib/slick-master/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/mng/assets/hotelstory/amenitys/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/lib/slick-master/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/svc/common/javascript/lib/jquery/jquery-ui-1.12.1.min.css" />
    <!-- <link rel="shortcut icon" type="image/x-icon" href="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/symbol/favicon.ico" /> -->

    <script type="text/javascript" src="/static/svc/common/javascript/lib/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/svc/common/javascript/lib/jquery/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="/static/svc/js/common.js"></script>

    <link rel="stylesheet" href="/static/svc/css/totalweb.css">
    <script src="/static/svc/js/totalweb.js"></script>

    <!--[if lt IE 9]>
		<script type="text/javascript" src="/static/svc/common/javascript/lib/support/flexibility.min.js"></script>

		<script type="text/javascript" src="/static/svc/common/javascript/lib/support/html5shiv.js"></script>
		<script type="text/javascript" src="/static/svc/common/javascript/lib/support/respond.min.js"></script>
    <![endif]-->