@@include('src/template/svc/include/_head.html')
</head>

<body>

    @@include('src/template/svc/include/_header.html')

    <div class="facilities_box">
        @@include('src/template/svc/include/facilities/_sub_top.html', {
        "title": "세미나룸",
        "sub_title": "최대 00명까지 수용 가능한 세미나룸은 행사의 목적과 성격에 맞게 이용하실 수 있습니다.<br>대규모 워크샵, 세미나 등의 비즈니스 행사부터 돌잔치, 회갑연 등의 가족모임까지 다양한 연회 행사 진행이 가능합니다.<br>전문적이고 세심한 서비스로 성공적인 행사를 완성해 드립니다."
        })

        <div class="sub facilities_box container">
            <div class="sub_item_box">
                <div class="sub_item_wrap">
                    <div class="sub_item">
                        <div class="slick_slider">
                            <div class="icon-prev"><i class="icon-33"></i></div>
                            <div class="icon-next"><i class="icon-32"></i></div>
                            <div class="slick_basic">
                                <div><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/seminar/01.jpg" alt="세미나룸사진"></div>
                                <div><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/seminar/02.jpg" alt="세미나룸사진"></div>
                                <div><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/seminar/03.jpg" alt="세미나룸사진"></div>
                                <div><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/seminar/04.jpg" alt="세미나룸사진"></div>
                            </div>
                        </div>
                        <!-- <div class="item_info2">
                            <div class="info_wrap">
                                <div class="b_scroll_x_auto box">
                                    <div class="b_aright">※ 가격 : 세금 불포함 가격입니다. (10% 세금별도)</div>
                                    <table class="meetingroom">
                                        <tr>
                                            <th rowspan="2" class="b_w80">연회장이름</th>
                                            <th rowspan="2" class="b_w40">위치</th>
                                            <th rowspan="2" class="b_w60">면적(m2)</th>
                                            <th rowspan="2" class="b_w100">가로*세로(M)</th>
                                            <th class="b_w100">Round<br />(연회)</th>
                                            <th class="b_w100">Class Room<br />(강의식)</th>
                                            <th class="b_w100">Theater<br />(극장식)</th>
                                            <th class="b_w100">U 형식</th>
                                            <th rowspan="2" class="b_w110">대여요금<br />(All Day)</th>
                                            <th rowspan="2" class="b_w110">대여요금<br />(Half Day)</th>
                                        </tr>
                                        <tr>
                                            <td><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/demo3.jpg" />
                                            </td>
                                            <td><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/demo4.jpg" />
                                            </td>
                                            <td><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/demo2.jpg" />
                                            </td>
                                            <td><img src="http://design.ebiznetworks.co.kr/joon/airskyhotel/img/svc/img/facilities/demo1.jpg" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>미시령홀</td>
                                            <td>B1</td>
                                            <td>49(m2)</td>
                                            <td>7.5m X 6.5m</td>
                                            <td>20</td>
                                            <td>15</td>
                                            <td>24</td>
                                            <td>15</td>
                                            <td>500,000원</td>
                                            <td>300,000원</td>
                                        </tr>
                                        <tr>
                                            <td>한계령홀</td>
                                            <td>B1</td>
                                            <td>114(m2)</td>
                                            <td>7.3m X 15.5m</td>
                                            <td>60</td>
                                            <td>50</td>
                                            <td>60</td>
                                            <td>20</td>
                                            <td>1,000,000원</td>
                                            <td>500,000원</td>
                                        </tr>
                                        <tr>
                                            <td>대관령홀</td>
                                            <td>1F</td>
                                            <td>211(m2)</td>
                                            <td>12m X 17.6m</td>
                                            <td>100</td>
                                            <td>75</td>
                                            <td>120</td>
                                            <td>40</td>
                                            <td>2,000,000원</td>
                                            <td>1,000,000원</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>* 자세한 사항은 예약실로 문의 바랍니다.</div>
                        </div> -->
                        <div class="item_info">
                            <div class="info_wrap">
                                <h5 class="info_title">위치안내</h5>
                                <div class="info_content">2층</div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">기타안내</h5>
                                <div class="info_content">
                                    <span class="sh_small">빔프로젝터, 무선마이크 등 사용 가능</span><br />
                                </div>
                            </div>
                            <div class="info_wrap">
                                <h5 class="info_title">이용문의</h5>
                                <div class="info_content">
                                    전화 : <span class="sh_small">1666-1243</span><br />
                                    이메일 : <span class="sh_small">airskyhotel@ebiznetworks.co.kr</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('src/template/svc/include/_footer.html')
</body>

</html>