<div class="sub">
    <div class="sub_top_menu">
        <h4 class="page_title">@@title</h4>
        <h6 class="page_sub_title">@@sub_title</h6>
        <ul class="menu_wrap container">
            <!-- 해당 탭 url일 경우, 클래스 active -->
            <li class="menu_item"><a href="/facilities/restaurant.html">레스토랑</a></li>
            <li class="menu_item"><a href="/facilities/conference.html">컨퍼런스룸</a></li>
            <li class="menu_item"><a href="/facilities/seminar.html">세미나룸</a></li>
            <li class="menu_item"><a href="/facilities/businesscenter.html">비즈니스센터</a></li>
            <li class="menu_item"><a href="/facilities/convenience.html">편의점</a></li>
        </ul>
    </div>
</div>